grant {
    permission java.net.SocketPermission "*:1024-65535", "connect,accept,resolve";
    permission java.net.SocketPermission "*:80", "connect,accept";
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,resolve";
    permission java.io.FilePermission "/home/bytestroop/Deck/rmi/-", "read";
    permission java.io.FilePermission "/opt/tomcat5/webapps/bartdeck/rmi/-", "read";
    permission java.io.FilePermission "/home/fedora/tomcat/webapps/bartdeck/rmi/-", "read";
    permission java.io.FilePermission "/opt/tomcat5/webapps/digivid/rmi/-", "read";
    permission java.io.FilePermission "/home/fedora/tomcat/webapps/digivid/rmi/-", "read";
    permission java.io.FilePermission "/home/fedora/tomcat/webapps/digivid_test/rmi/-", "read";
    permission java.io.FilePermission "/home/fedora/tomcat/webapps/digivid03/rmi/-", "read";
    permission java.lang.RuntimePermission "setContextClassLoader";

};

grant codeBase
"file:/opt/tomcat5/webapps/bartdeck/WEB-INF/lib/httpserv.jar"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant codeBase
"file:/opt/tomcat5/webapps/bartdeck/WEB-INF/lib/client.jar"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant codeBase
"file:/opt/tomcat5/webapps/bartdeck/WEB-INF/lib/httpserv.jar"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant codeBase
"file:/opt/tomcat5/webapps/bartdeck/rmi/java.policy"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant codeBase
"file:/opt/tomcat5/webapps/bartdeck/rmi/client.jar"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};

grant codeBase
"file:/home/fedora/tomcat/webapps/bartdeck/WEB-INF/lib/httpserv.jar"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant codeBase
"file:/home/fedora/tomcat/webapps/bartdeck/WEB-INF/lib/client.jar"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant codeBase
"file:/home/fedora/tomcat/webapps/bartdeck/WEB-INF/lib/httpserv.jar"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant codeBase
"file:/home/fedora/tomcat/webapps/bartdeck/rmi/java.policy"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant codeBase
"file:/home/fedora/tomcat/webapps/bartdeck/rmi/client.jar"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};

grant codeBase
"file:/opt/tomcat5/webapps/digivid/WEB-INF/lib/httpserv.jar"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant codeBase
"file:/opt/tomcat5/webapps/digivid/WEB-INF/lib/client.jar"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant codeBase
"file:/opt/tomcat5/webapps/digivid/WEB-INF/lib/httpserv.jar"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant codeBase
"file:/opt/tomcat5/webapps/digivid/rmi/java.policy"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant codeBase
"file:/opt/tomcat5/webapps/digivid/rmi/client.jar"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};

grant codeBase
"file:/home/fedora/tomcat/webapps/digivid/WEB-INF/lib/httpserv.jar"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant codeBase
"file:/home/fedora/tomcat/webapps/digivid/WEB-INF/lib/client.jar"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant codeBase
"file:/home/fedora/tomcat/webapps/digivid/WEB-INF/lib/httpserv.jar"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant codeBase
"file:/home/fedora/tomcat/webapps/digivid/rmi/java.policy"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant codeBase
"file:/home/fedora/tomcat/webapps/digivid/rmi/client.jar"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant codeBase
"file:/home/fedora/tomcat/webapps/digivid/WEB-INF/lib/httpserv.jar"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant codeBase
"file:/home/fedora/tomcat/webapps/digivid_test/WEB-INF/lib/client.jar"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant codeBase
"file:/home/fedora/tomcat/webapps/digivid_test/WEB-INF/lib/httpserv.jar"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant codeBase
"file:/home/fedora/tomcat/webapps/digivid_test/rmi/java.policy"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant codeBase
"file:/home/fedora/tomcat/webapps/digivid_test/rmi/client.jar"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant codeBase
"file:/home/fedora/tomcat/webapps/digivid03/WEB-INF/lib/client.jar"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant codeBase
"file:/home/fedora/tomcat/webapps/digivid03/WEB-INF/lib/httpserv.jar"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant codeBase
"file:/home/fedora/tomcat/webapps/digivid03/rmi/java.policy"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant codeBase
"file:/home/fedora/tomcat/webapps/digivid03/rmi/client.jar"{
    permission java.net.SocketPermission "*:${tomcatPort}", "connect,accept,listen,resolve";
};
grant {
    permission java.security.AllPermission;
};