<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <comment>
        These are customizable constant values for Deck Server
        WARNING! DON'T USE LINEBREAKS when editing this file.
    </comment>
    <entry key="RMI_CLASSSERVER_NAME">localhost</entry>
    <entry key="RMI_PORT">9009</entry>
</properties>
